if ENV['COVERAGE'] == '1'
  require 'simplecov'
  require 'undercover/simplecov_formatter'

  SimpleCov.formatter = SimpleCov::Formatter::Undercover
  SimpleCov.start do
    enable_coverage :branch
    add_filter '/test/'
    add_filter '/spec/'
  end
end
